# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
part08-Part08_07.Abbreviations/target/classes/Main.class
part08-Part08_07.Abbreviations/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
part08-Part08_07.Abbreviations/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
part08-Part08_07.Abbreviations/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
part08-Part08_07.Abbreviations/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
part08-Part08_08.PrintMeMyHashmap/target/stderr.txt
part08-Part08_08.PrintMeMyHashmap/target/stdout.txt
part08-Part08_08.PrintMeMyHashmap/target/classes/Program.class
part08-Part08_08.PrintMeMyHashmap/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
part08-Part08_08.PrintMeMyHashmap/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
part08-Part08_08.PrintMeMyHashmap/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
part08-Part08_08.PrintMeMyHashmap/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
part08-Part08_08.PrintMeMyHashmap/target/test-classes/PrintMeMyHashmapTest.class
part08-Part08_08.PrintMeMyHashmap/target/classes/Program.class
part08-Part08_08.PrintMeMyHashmap/target/test-classes/PrintMeMyHashmapTest.class
part08-Part08_09.PrintMeAnotherHashmap/target/stderr.txt
part08-Part08_09.PrintMeAnotherHashmap/target/stdout.txt
part08-Part08_09.PrintMeAnotherHashmap/target/classes/Book.class
part08-Part08_09.PrintMeAnotherHashmap/target/classes/Program.class
part08-Part08_09.PrintMeAnotherHashmap/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
part08-Part08_09.PrintMeAnotherHashmap/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
part08-Part08_09.PrintMeAnotherHashmap/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
part08-Part08_09.PrintMeAnotherHashmap/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
part08-Part08_09.PrintMeAnotherHashmap/target/test-classes/PrintMeAnotherHashmapTest.class
part08-Part08_08.PrintMeMyHashmap/target/test-classes/PrintMeMyHashmapTest.class
part08-Part08_08.PrintMeMyHashmap/target/classes/Program.class
part08-Part08_10.IOweYou/target/stderr.txt
part08-Part08_10.IOweYou/target/stdout.txt
part08-Part08_10.IOweYou/target/classes/Main.class
part08-Part08_10.IOweYou/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
part08-Part08_10.IOweYou/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
part08-Part08_10.IOweYou/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
part08-Part08_10.IOweYou/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
part08-Part08_10.IOweYou/target/test-classes/IOUTest.class
part08-Part08_09.PrintMeAnotherHashmap/target/classes/Book.class
part08-Part08_09.PrintMeAnotherHashmap/target/test-classes/PrintMeAnotherHashmapTest.class
part08-Part08_10.IOweYou/target/test-classes/IOUTest.class
part08-Part08_11.SameDate/target/classes/Main.class
part08-Part08_11.SameDate/target/test-classes/SimpleDateTest.class
part08-Part08_12.HashedDate/target/classes/SimpleDate.class
part08-Part08_13.VehicleRegistry/target/classes/LicensePlate.class
part08-Part08_13.VehicleRegistry/target/classes/Main.class
part08-Part08_13.VehicleRegistry/target/classes/LicensePlate.class
part08-Part08_13.VehicleRegistry/target/classes/Main.class
part08-Part08_13.VehicleRegistry/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
part08-Part08_13.VehicleRegistry/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
part08-Part08_13.VehicleRegistry/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
part08-Part08_13.VehicleRegistry/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
